body { margin: 60px auto; width: 70%; }
nav ul, footer ul {
     list-style: none;
    font-weight: bold;
    padding:0px;
}
nav ul li, footer ul li {
    display: inline;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 1%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
